
.feedback_page {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  display: flex;
  justify-content: center;
}

.form_container {
  width: 500px;
  padding: 20px;
}

.bigger {
  font-size: 14pt;
}

.label {
  font-size: 12pt;
  display: block;
  color: black;
  
}

.title {
  font-size: 24px;
  font-weight: bold;
}
.subtitle {
  margin-bottom: 20px;
  font-weight: 400;
}

form input {
  background-color: transparent;
}